@font-face {
  font-family: "Sunshine";
  src: url("./DancingScript-SemiBold.ttf");
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.buttonWrapper {
  margin-left: 70px;
}

button {
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: grey;
  color: white;
}

button:focus {
  outline: none;
}

.rules {
  margin-top: 40px;
  margin-left: 70px;
  color: #ff10f0;
  position: fixed;
  width: 250px;
  font-family: "Sunshine";
}

.rules p,
h4 {
  opacity: 0;
  font-size: 2.5vh;
}

@keyframes an {
  100% {
    opacity: 1;
  }
}
.rules p,
h4 {
  animation: an 0.5s forwards;
}

.rules p:nth-child(1) {
  animation-delay: 0.5s;
}
.rules p:nth-child(2) {
  animation-delay: 1.5s;
}
.rules p:nth-child(3) {
  animation-delay: 2.5s;
}
.rules p:nth-child(4) {
  animation-delay: 3.5s;
}
.rules p:nth-child(5) {
  animation-delay: 4.5s;
}
