.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

button {
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: grey;
  color: white;
}

button:focus {
  outline: none;
}

.rules {
  margin-top: 40px;
  margin-left: 40px;
  color: #ff10f0;
  position: fixed;
  width: 200px;
}

.rule {
  color: green;
}
